<!-- /SERVICE SECTION-->      
<section  id="features-section" class="section-2">
  <div class="bg-wraper parallax-point-event">
  <div class="container">
    <div class="row-fluid">
  <!-- PROJECTS HEADER-->
      <header class="" >
        <div class="text-center page-header">
          <h3 class="">
            <span class="white"><!-- WHITE SPACE-->
              WHAT WE ARE <span class="main-color">OFFER</span> 
            </span> 
          </h3>
        </div>
      </header>
    </div>
</div><!-- /SERVICE HEADER-->
  <div class="container">
    <div class="row-fluid">
    <!-- FEATURE ITEM-->
      <div class="span3 effect-box-1">
        <span class="label label-warning lines-bg-color text-center">
                <i class="fa-icon-fullscreen fa-icon-large"></i>
        </span>
        <h4 class="features-title"> 
          <span class="main-color">Responsive</span> Layout
        </h4>
        <p class=""> We combine creative forces with systematic activists. All ideas require implementation and our multi-disciplined netproject fosters a wide array of abilities that empower visionaries and entrepreneurs to lead meaningful brands.</p>
  </div><!-- END FEATURE ITEM-->
    
    
    <!-- FEATURE ITEM-->
    <div class="span3 effect-box-2">
      <span class="label label-warning lines-bg-color text-center">
      <i class="fa-icon-tint fa-icon-large"></i>
      </span>
      <h4 class="features-title"> 
        <span class="main-color">Designer  </span>Friendly
      </h4>
      <p class=""> We combine creative forces with systematic activists. All ideas require implementation and our multi-disciplined netproject fosters a wide array of abilities that empower visionaries and entrepreneurs to lead meaningful brands.</p>
    </div><!-- END FEATURE ITEM-->
    
    <!-- FEATURE ITEM-->
    <div class="span3 effect-box-3"> 
      <span class="label label-warning lines-bg-color text-center">
      <i class="fa-icon-thumbs-up fa-icon-large"></i>
      </span>
      <h4 class="features-title"> 
        <span class="main-color">Faster</span> Setup
      </h4>
      <p class=""> Inspired Thinking. Ask smarter questions, push for innovative solutions and believe in the power of creativity. Be consistently open and honest. Be true to ourselves and our values. Find, stimulate and maintain the best minds.</p>
    </div>
    <!-- END FEATURE ITEM-->
    <!-- FEATURE ITEM-->
    <div class="span3 effect-box-4"> 
      <span class="label label-warning lines-bg-color text-center">
      <i class="fa-icon-spinner fa-icon-spin fa-icon-large "></i>
      </span>
      <h4 class="features-title">
        <span class="main-color">Modern</span> features
      </h4>
      <p class=""> Inspired Thinking. Ask smarter questions, push for innovative solutions and believe in the power of creativity. Be consistently open and honest. Be true to ourselves and our values. Find, stimulate and maintain the best minds.</p>
    </div>
    <!-- FEATURE ITEM-->
    </div><!--/ ROW-FLUID-->
    <hr/>
  
  <!-- (1) -->
  
  </div><!--/CONTAINER-->
</div><!-- / BG WRAPER-->

<!-- BUTTON GO BOTTOM -->
      <div class="row-fluid">
        <div class="span12 text-center">
          <span class="goprice active" id="nav5">
          <a href="#team-section" title="">
            <i class="fa-icon-double-angle-down fa-icon-large"></i>
          </a>
        </span></div>
      </div>
<!-- / BUTTON GO BOTTOM --> 



</section>