
<body data-spy="scroll" data-target=".scroller-spy" data-twttr-rendered="true">

<!--START MAIN-WRAPPER--> 
<div class="main-wrapper">
<!--START MAIN-WRAPPER--> 

<%= render 'topSeccion' %>
<%= render 'serviceSection' %>
  
  <!-- /FEATURE section-->


<!-- /TEAM SECTION-->     
<section class="" id="team-section">
    <!-- TEAM HEADER-->
  <div class="container">
    <div class="row">
      <header class="" >
        <div class=" text-center page-header">
        
          <h3>
          <span class="white">
          WHO WE ARE - 
          <span class="main-color">OUR TEAM</span> 
          &amp; <span class="main-color">ABOUT</span>
          </span>
          </h3>
          
        </div>
      </header>
    </div>
  </div>
  
  <div class="container"> 
    <div class="row-fluid">
    

    


<!-- ABOUT ITEM--><div class="span6">
            
    <!-- IMAGE CONTAINER-->
            
        <h3 class="main-color-line">About us</h3>
        <p class="">
          Creative, inspired innovators, we are dedicated to developing long-term, honest, effective relationships with each of our clients, giving freely of our talent, experience, and expertise. We're not just a web design agency. We're not just a graphic design firm. We're not just coders and we're not just artists. 
        </p>
        
        <h3 class="main-color-line">Our vision</h3>
        <p class="">
          We get better design when we understand our medium. Yet even at this late cultural hour, many people don't understand web design. Among them can be found some of our most distinguished business and cultural leaders, including a few who possess a profound grasp of design - except as it relates to the web.
        </p>
        
        <h3 class="main-color-line">Our experience</h3>
        <p class="">
          What makes future of web design? Experience. We've been producing web design  for almost a decade, and are intimately familiar with the trends, technologies, and stars that make the web beautiful. 
        </p>
        
    <!--END IMAGE CONTAINER-->
       
     <!-- CAPTION -->
      
  
</div><!-- / ABOUT ITEM-->
<!-- TEAM ITEM--><div class="thumbnail span3">
            
    <!-- IMAGE CONTAINER-->
            <div class="sample project-item-image-container">
        <img src="http://lorempixel.com/260/195/people/1" alt="">
       </div> 
    <!--END IMAGE CONTAINER-->
       
     <!-- CAPTION -->
      
  <div class="caption">
    <div class="transit-to-top">
        
      
        <p class="caption-descr"><i class="fa-icon-quote-left main-color"></i>
        AT FUTURE OF WEB DESIGN YOU'LL NOT ONLY SEE GREAT SITES, YOU'LL MEET AMAZING PEOPLE. PEOPLE LIKE YOU... <i class="fa-icon-quote-right main-color"></i>
        </p>
        <h4 class=""><strong>Joahna Doe</strong> - <small>talented designer</small></h4>  
  <div class="widget_nav_menu"> 
    <ul class="social-bottom">
            <li><span class="badge badge-warning"><a href="#" title=""><i class="fa-icon-facebook"></i></a></span></li>
      <li><span class="badge badge-warning"><a href="#" title=""><i class="fa-icon-twitter"></i></a></span></li>
      <li><span class="badge badge-warning"><a href="#" title=""><i class="fa-icon-github-alt"></i></a></span></li>
      <li><span class="badge badge-warning"><a href="#" title=""><i class="fa-icon-google-plus"></i></a></span></li>
      <li><span class="badge badge-warning"><a href="#" title=""><i class="fa-icon-linkedin"></i></a></span></li>
    </ul>
            
  </div>
    </div> <!--END CAPTION -->
  </div><!-- END: THUMBNAIL -->
</div><!-- TEAM ITEM-->
<!-- TEAM ITEM--><div class="thumbnail span3">
            
    <!-- IMAGE CONTAINER-->
            <div class="sample project-item-image-container">
        <img src="http://lorempixel.com/260/195/technics/1" alt="">
       </div> 
    <!--END IMAGE CONTAINER-->
       
     <!-- CAPTION -->
      
  <div class="caption">
    <div class="transit-to-top">
        
        <p class="caption-descr"><i class="fa-icon-quote-left main-color"></i>
        COME BE INSPIRED BY THE EXPERIENCES AND SUCCESSES OF THE WEB DESIGNERS 
        AMAZING PEOPLE WHO CREATE GREATE WEBSITES <i class="fa-icon-quote-right main-color"></i>
        </p>
        <h4 class=""><strong>John Doe</strong> - <small>great programmer</small></h4>
  <div class="widget_nav_menu"> 
    <ul class="social-bottom">
            <li><span class="badge badge-warning"><a href="#" title=""><i class="fa-icon-facebook"></i></a></span></li>
      <li><span class="badge badge-warning"><a href="#" title=""><i class="fa-icon-twitter"></i></a></span></li>
      <li><span class="badge badge-warning"><a href="#" title=""><i class="fa-icon-github-alt"></i></a></span></li>
      <li><span class="badge badge-warning"><a href="#" title=""><i class="fa-icon-google-plus"></i></a></span></li>
      <li><span class="badge badge-warning"><a href="#" title=""><i class="fa-icon-linkedin"></i></a></span></li>
    </ul>
            
  </div>
    </div> <!--END CAPTION -->
  </div><!-- END: THUMBNAIL -->
</div><!-- TEAM ITEM-->
    </div><!--/ROW FLUID--> 
    



    <!-- 3 -->
    

<!-- BUTTON GO BOTTOM -->
      <div class="row-fluid">
        <div class="span12 text-center">
          <span class="goprice active" id="nav5">
          <a href="#contact-section" title="">
            <i class="fa-icon-double-angle-down fa-icon-large"></i>
          </a>
        </span></div>
      </div>
<!-- / BUTTON GO BOTTOM --> 

  </div><!--/CONTAINER-->
</section><!-- /TEAM SECTION--> 



    
 



 <!-- 4 -->





  

<!-- ###################### FOOTER #######################
    ================================================== -->
<footer class="footer">
<section id="contact-section" class="arrow_box">
  <div class="container">
  <div class="row-fluid">
   <!-- CONTAC HEADER-->
   <div class="text-center">
  <div id="foot-head">
    <div class="span12 text-center page-header">
        
          <h3>
          <span class="white">
          <span class="main-color">CONTACT</span> INFORMATION
          </span>
          </h3>
    </div>
  </div>  
  </div>
</div>
      <!--/ CONTAC HEADER-->
    <div class="row-fluid">
  
     <div class="span3">
        <h4 class="main-color-line"><i class="fa-icon-comments-alt main-color"></i> <span>What people say</span></h4>
        <blockquote>
      <p>
        He promptly completed the task at hand and communicates really well till the project reaches the finishing line.  
      </p>
       <span class="test-caption"> <strong>Steve Kruger UI/UX Designer at Woof Design Studio</strong></span>
    
    </blockquote>
    <blockquote>
      <p>
        I was pleased with his creative design and will definitely be hiring him again. 
      </p>
      <span class="test-caption"><strong>Steve Kruger UI/UX Designer at Woof Design Studio</strong></span>
    
    </blockquote>
      </div>
      
     
     
    
  <div class="span6">
  <span class="logo"><!--LOGO-->
      <a href="#" title="Scroll&amp;Strap">
        <%= image_tag "logo_1_orange.png", :alt => "logo" %>
      
      </a>
    </span>
    <hr/>
      
      <address>
        <strong>SCROLL&amp;STRAP, Inc.</strong><br>
        <i class="fa-icon-map-marker"></i> 795 Folsom Ave, Suite 600
        San Francisco, CA 94107<br/>
        <i class="fa-icon-phone-sign"></i> + 4 (123) 456-7890
        <div class="foot-line"></div>
                    
      </address>
       
      
        
      </div>
    
  
    
    
    <div class="span3">
        <h4 class="main-color-line text-center"><i class="fa-icon-share main-color"></i> <span>Follow us</span></h4>
      <ul class="social-bottom">
              <li><span class="badge badge-warning"><a href="#" title=""><i class="icon-edit"></i></a></span></li>
        <li><span class="badge badge-warning"><a href="#" title=""><i class="fa-icon-twitter"></i></a></span></li>
        <li><span class="badge badge-warning"><a href="#" title=""><i class="fa-icon-github-alt"></i></a></span></li>
        <li><span class="badge badge-warning"><a href="#" title=""><i class="fa-icon-google-plus"></i></a></span></li>
        <li><span class="badge badge-warning"><a href="#" title=""><i class="fa-icon-linkedin"></i></a></span></li>
      </ul>
        
      
      
    </div>
  
   <div class="span3">
        <h4 class="main-color-line"><i class="fa-icon-twitter main-color"></i> <span>Twitter feed</span></h4>
        <div id="tweets">
    </div>
      </div>
    
    </div><!-- / ROW-->
    
  </div>
  <%= link_to "tapeando", home_prueba_path, :class =>"brand" %>
  </section>

</footer>

<!-- END: FOOTER -->
</div>
<!-- END: MAIN-WRAPPER-->
<!-- Le javascript
    ================================================== --> 
<!-- Placed at the end of the document so the pages load faster --> 



<script type="text/javascript">
jQuery(document).ready(function(){
  jQuery('#nav0').localScroll(900);
  jQuery('#nav').localScroll(900);
  jQuery('#nav2').localScroll(900);
  //jQuery('#nav3').localScroll(900);
  //jQuery('#nav4').localScroll(900);
  jQuery('#nav5').localScroll(900);
  //.parallax(xPosition, speedFactor, outerHeight) options:
  //xPosition - Horizontal position of the element
  //inertia - speed to move relative to vertical scroll. Example: 0.1 is one tenth the speed of scrolling, 2 is twice the speed of scrolling
  //outerHeight (true/false) - Whether or not jQuery should use it's outerHeight option to determine when a section is in the viewport
  jQuery('#header-section').parallax("50%", 0.1);
  jQuery('#features-section').parallax("50%", 0.1);
  jQuery('#team-section').parallax("50%", 0.1);
  //jQuery('.bg').parallax("50%", 0.3);
  //jQuery('#portfolio-section').parallax("50%", 0.3);
  //jQuery('#price-section').parallax("50%", 0.3);
  jQuery('#contact-section').parallax("50%", 0.1);
  //jQuery('#slogan-section-1').parallax("50%", 0.3);
  
  
})
</script>
<script>
jQuery('#features-section .parallax-point-event').bind('inview', function (event, visible) {
        if (visible == true) {
            jQuery('.effect-box-1').addClass("active");
      jQuery('.effect-box-2').addClass("active");
      jQuery('.effect-box-3').addClass("active");
      jQuery('.effect-box-4').addClass("active");
      
        }else{
            jQuery('.effect-box-1').removeClass("active");
      jQuery('.effect-box-2').removeClass("active");
      jQuery('.effect-box-3').removeClass("active");
      jQuery('.effect-box-4').removeClass("active");
    
      //jQuery('.effect-box').unbind('inview');
        }
    });

</script>

<script>
jQuery('#slogan-section-1').bind('inview', function (event, visible) {
        if (visible == true) {
            jQuery('.large-slogan').addClass("active");
     }else{
            jQuery('.large-slogan').removeClass("active");  
        }
    });

</script>
<script>
jQuery('#slogan-section-2 .parallax-point-event').bind('inview', function (event, visible) {
        if (visible == true) {
            jQuery('.browser-shot-1').addClass("active");
      jQuery('.browser-shot-2').addClass("active");
      jQuery('.browser-shot-3').addClass("active");
      
        }else{
            jQuery('.browser-shot-1').removeClass("active"); 
      jQuery('.browser-shot-2').removeClass("active");
      jQuery('.browser-shot-3').removeClass("active");
      
        }
    });

</script>

<script>
jQuery('#slogan-section-3').bind('inview', function (event, visible) {
        if (visible == true) {
            jQuery('.goprice').addClass("active");
    }else{
            jQuery('.goprice').removeClass("active");   
        }
    });

</script>

<!-- efecto letras -->
<script>
jQuery('#header-section').bind('inview', function (event, visible) {
        if (visible == true) {
            jQuery('.gobottom').addClass("active"); 
      jQuery('.hero-unit h1 span').addClass("active");
      
        }else{
            jQuery('.gobottom').removeClass("active");  
      jQuery('.hero-unit h1 span').removeClass("active"); 
      
      
        }
    });

</script>


<script>
    var hero = jQuery('#header-section .hero-unit');
    jQuery(window).scroll(function () {
        if (jQuery(this).scrollTop() > 550) {
          hero.addClass("hide");  
        } else {
          hero.removeClass("hide"); 
        }
      });
    </script>
    
  <script>
    var navbar = jQuery('#navbartop');
    var navbartop = jQuery('#topnavbar');
      jQuery(window).scroll(function () {
        if (jQuery(this).scrollTop() > 640) {
          navbar.addClass("navbar-scroll");
          navbartop.removeClass("navbar-static-top");
          navbartop.addClass("navbar-fixed-top");
          
        } else {
          navbar.removeClass("navbar-scroll");
          navbartop.removeClass("navbar-fixed-top");
          navbartop.addClass("navbar-static-top");
        }
      });
    </script>
    
    <script>
        // Basic FitVids Test
      $(".container").fitVids();  
    </script>
    
    <script type="text/javascript">
    
        jQuery(document).ready(function(){

        jQuery('#map').gMap({ address: 'Folsom Ave, San Francisco, CA',
                 panControl: true,
               zoomControl: true,
                 zoomControlOptions: {
          style: google.maps.ZoomControlStyle.SMALL
                 },
               mapTypeControl: true,
               scaleControl: true,
               streetViewControl: false,
               overviewMapControl: true,
                 scrollwheel: true,
                 icon: {
            image: "http://www.google.com/mapfiles/marker.png",
            shadow: "http://www.google.com/mapfiles/shadow50.png",
            iconsize: [20, 34],
            shadowsize: [37, 34],
            iconanchor: [9, 34],
            shadowanchor: [19, 34]
          },
            zoom:15,
                 markers: [
              { 'address' : 'Folsom Ave, San Francisco, CA'}
            ]
                 
                 
                 }); 
        });



</script>

<script type="text/javascript">
    jQuery(function(){
      jQuery('#tweets').tweetable({
        username: 'wrapbootstrap', 
        time: true,
        rotate: false,
        speed: 4000, 
        limit: 1,
        replies: false,
        position: 'append',
        failed: "Sorry, twitter is currently unavailable for this user.",
        html5: true,
        onComplete:function(jQueryul){
          jQuery('time').timeago();
        }
      });
    });
    </script>
    <script>
      jQuery('.carousel').carousel()
    </script>
</body>

