
input.home-input{
	height: 40px;
}

.btn-large{
	padding: 9px 19px !important;
	margin-bottom: 10px !important;
}

.encuentra-bar{
	margin-top: 14px;
	margin-bottom: 22px;
}

.tapeando{
	font-family: 'Oswald';
	font-size: 120px !important;
}